body {
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

label {
    color: white !important;
}

.form-control {
    background-color: white !important;
}

#email-link:hover{
    color: orangered;
    font-weight: bold;
}

#profile-photo {
    border-radius: 50%;
}

#sendMessageButton:hover {
    background-color: #1A252F !important;
    border-color: #1A252F !important;

}


#thank-you-text {
    text-align: center;
}